.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  border: none;
  background: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}
.btn-reset:active {
  outline: none;
}
.main-link {
  display: flex;
  align-items: center;
  color: var(--color-main-link);
  fill: var(--color-main-link);
}
.main-link:focus {
  color: var(--color-main-green);
  fill: var(--color-main-green);
}
.investments-title-block {
  font-weight: 900;
  font-size: 22px;
  line-height: 136%;
}

.button-green {
  background: var(--color-main-green);
  box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
  color: #fff;
}
.button-green:hover {
  background: var(--color-hover-green-btn);
  box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
}
.button-green:focus {
  color: var(--color-main-text);
  border: 1px solid var(--color-main-text);
}
.button-white {
  border: 1px solid #dadee2;
  color: var(--color-main-text);
}

.button-white:hover,
.button-white:focus {
  border: 1px solid var(--color-main-text);
}
.footer {
  height: 1rem;
}
