:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main-text: #333e50;
  --color-main-link: #388ec3;
  --color-main-red: #ed2c35;
  --color-main-yellow: #f4b207;
  --color-main-green: #95ce5a;
  --color-hover-green-btn: #8cc459;
}
